# Create a copy of this file and name it .env
# Fill in your Rosnet API credentials below.
# These will be automatically loaded into the environment by python-dotenv and Streamlit.

ROSNET_API_USER="your_api_user_id"
ROSNET_API_KEY="your_api_user_key"
ROSNET_CLIENT_ID="your_client_id_optional"
